body {
  text-align: center;
  background-color: #1f1464;
  }
  
  header {
  background-color: #1f1464;
  color: #000000;
  padding: 3px; 
  position: relative;
  }
  footer {
  background-color: #1f1464;
  color: #000000;
  padding: 3px;
top: 510px;
  position: relative;
  }
  
  section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  }
  
  div {
  flex: 1;
  padding: 20px;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    width: 500px;
    height: 500px;
    background-color: #8276e6;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
  }
  
  .box img {
    display: block;
   max-width: 250%;
    max-height: 250%;
    margin: auto;
    align-items: center;
  }
  
  .box p {
    text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  
  color: #fff;
  }
  
  
  footer p {
  font-style: italic;
  color: #000000;
	text-decoration: none;
}

footer a:hover {
	color: rgb(189, 12, 12);
}

